{{!< default}}

{{#author}}
{{!-- Everything inside the #author tags pulls data from the author --}}
<div class="phantom-meta">
  <div class="container">
    <header class="meta-header">
      {{#if profile_image}}
      <img class="meta-avatar avatar avatar-xl" src="{{profile_image}}" alt="{{name}}" />
      {{/if}}
      <h1 class="meta-title">{{name}}</h1>
      {{#if bio}}
        <h2 class="meta-description">{{bio}}</h2>
      {{/if}}
      <div class="meta-profile">
        <div class="meta-stats">{{plural ../pagination.total empty='no posts' singular='% post' plural='% posts'}}</div>
        {{#if location}}
          <span class="divider-dot"> · </span>
          <div class="meta-location">{{location}}</div>
        {{/if}}
        {{#if website}}
          <span class="divider-dot"> · </span>
          <a class="social-link social-link-wb" href="{{website}}" target="_blank">{{> "icons/website"}}</a>
        {{/if}}
        {{#if twitter}}
          <a class="social-link social-link-tw" href="{{twitter_url}}" target="_blank">{{> "icons/twitter"}}</a>
        {{/if}}
        {{#if facebook}}
          <a class="social-link social-link-fb" href="{{facebook_url}}" target="_blank">{{> "icons/facebook"}}</a>
        {{/if}}
      </div>
    </header>
  </div>
</div>
{{/author}}

{{!-- The main content area --}}
<main class="phantom-body" role="main">
  <div class="container">
    <div class="columns">
      {{#foreach posts}}
        <div class="column col-3 col-lg-4 col-md-6 col-sm-12">
          {{> "post-card"}}
        </div>
      {{/foreach}}
    </div>
    <div class="columns">
      <div class="column">
        {{pagination}}
      </div>
    </div>
  </div>
</main>
