{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<main class="phantom-post" role="main">
  <div class="container">
    <article class="post-full {{post_class}}{{#unless feature_image}} no-image{{/unless}}">
      <header class="post-full-header">
        {{> "post-tags"}}
        <h1 class="post-full-title">{{title}}</h1>
        <section class="post-full-meta">
          <time class="post-full-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY" timeago="true"}}</time>
          {{#author}}
          <span class="divider-dot">·</span>
          <a href="{{url}}" class="post-full-meta-author">{{name}}</a>
          {{/author}}
        </section>
      </header>

      {{#if feature_image}}
      <div class="post-full-image">
        <img src="{{feature_image}}" />
      </div>
      {{/if}}

      <section class="post-full-content">
        {{content}}
      </section>

      {{!-- Email subscribe form at the bottom of the page --}}
      {{#if @labs.subscribers}}
      <section class="subscribe-form">
        <h3 class="subscribe-form-title">Subscribe to {{@blog.title}}</h3>
        <p>Get the latest posts delivered right to your inbox</p>
        {{subscribe_form placeholder="youremail@example.com"}}
      </section>
      {{/if}}

      {{> "post-tags"}}

      {{!--

      If you use Disqus comments, just uncomment this block.
      The only thing you need to change is "test-apkdzgmqhj" - which
      should be replaced with your own Disqus site-id.

      <section class="post-full-comments">
          <div id="disqus_thread"></div>
          <script>
              var disqus_config = function () {
                  this.page.url = '{{url absolute="true"}}';
                  this.page.identifier = 'ghost-{{comment_id}}';
              };
              (function() {
                  var d = document, s = d.createElement('script');
                  s.src = 'https://test-apkdzgmqhj.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
              })();
          </script>
      </section>
      --}}
    </article>
  </div>
</main>

{{!-- Related post cards --}}
{{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="4" as |related_posts|}}
  {{#if related_posts}}
  <aside class="phantom-body">
    <div class="container">
      <div class="columns">
        {{#foreach related_posts}}
        <div class="column col-3 col-md-6 col-sm-12">
          {{> "post-card"}}
        </div>
        {{/foreach}}
      </div>
    </div>
  </aside>
  {{/if}}
{{/get}}

{{!-- Floating header which appears on-scroll, included from includes/floating-header.hbs --}}
<!-- {{> floating-header}} -->
{{/post}}

{{#contentFor "scripts"}}
<script>
$(document).ready(function () {
  // Start fitVids
  var $postContent = $(".post-full-content");
  $postContent.fitVids({customSelector: "iframe"});
  // End fitVids
});
</script>
{{/contentFor}}
