{{!< default}}
{{!-- The big featured header, it uses blog cover image as a BG if available --}}
{{#tag}}
<div class="phantom-meta">
  <div class="container">
    <header class="meta-header">
      <h1 class="meta-title">{{name}}</h1>
      <h2 class="meta-description">
        {{#if description}}
          {{description}}
        {{else}}
          {{plural ../pagination.total empty='no posts' singular='% post' plural='% posts'}}
        {{/if}}
      </h2>
    </header>
  </div>
</div>
{{/tag}}

{{!-- The main content area --}}
{{#if posts}}
<main class="phantom-body" role="main">
  <div class="container">
    <div class="columns">
      {{#foreach posts}}
        <div class="column col-3 col-lg-4 col-md-6 col-sm-12">
          {{> "post-card"}}
        </div>
      {{/foreach}}
    </div>
    <div class="columns">
      <div class="column">
        {{pagination}}
      </div>
    </div>
  </div>
</main>
{{/if}}